.overlay {
    position: absolute;
    inset: 0;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 998;
}
.overlay.closed { display: none; pointer-events: none; }
.overlay.open   { display: grid; cursor: pointer; }
.panel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--surface);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--primary);
    border-radius: 16px;
    
    width: 900px;
    height: 600px;
    padding: 16px 32px;
    
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    cursor: default;
}

.panel-title {
    position: absolute;
    top: -10%;
    width: 100%;

    font-weight: bold;
    font-size: 32px;
    letter-spacing: 5px;
    text-align: center;
}